{% extends "base.html" %}

{% block content %}
<div style="font-family: Arial, Helvetica, sans-serif;">
<a href="/blog" style="font-size: 1em;">Main Blog Page</a> 
<a href="/add" style="font-size: 1em;">Add a Blog Entry</a>


    <h1 style="text-align: center;">Build-a-Blog</h1>

        <ul>
            {% for blog in blogs %}
            <strong><span style="font-size: 2em;"><a href="blog-post?id={{blog.id}}" >{{blog.title}}</a></strong></span><br/><br/>
            <span style="font-size: 1em;">{{blog.entry}}</span><br/>
            <hr />
            {% endfor %}
        </ul>
</div>
{% endblock %}